/* ============================================
   FONTS - Web font declarations
   ============================================ */

/* PP Neue Montreal - Regular */
@font-face {
  font-family: 'PP Neue Montreal';
  src: url('./fonts/PPNeueMontreal-Regular.woff2') format('woff2'),
       url('./fonts/PPNeueMontreal-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* PP Neue Montreal - Medium */
@font-face {
  font-family: 'PP Neue Montreal';
  src: url('./fonts/PPNeueMontreal-Medium.woff2') format('woff2'),
       url('./fonts/PPNeueMontreal-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* PP Neue Montreal - Bold */
@font-face {
  font-family: 'PP Neue Montreal';
  src: url('./fonts/PPNeueMontreal-Bold.woff2') format('woff2'),
       url('./fonts/PPNeueMontreal-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* PP Writer - Regular Italic (temporal con .otf) */
@font-face {
  font-family: 'PP Writer';
  src: url('./fonts/PPWriter-RegularItalic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* PP NeueBit - Bold */
@font-face {
  font-family: 'PP NeueBit';
  src: url('./fonts/PPNeueBit-Bold.woff2') format('woff2'),
       url('./fonts/PPNeueBit-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}