/* Shadow styles */
.shadow-deep-glass{
    box-shadow:
        0 0 0 1px var(--color-shadow-deep),
        0 1px 1px -0.5px var(--color-shadow-deep),
        0 3px 3px -1.5px var(--color-shadow-deep),
        0 6px 6px -3px var(--color-shadow-deep);
    
    backdrop-filter: blur(6px);
}

.shadow-deep {
    box-shadow:
        0 0 0 1px var(--color-shadow-deep),
        0 1px 1px -0.5px var(--color-shadow-deep),
        0 3px 3px -1.5px var(--color-shadow-deep),
        0 6px 6px -3px var(--color-shadow-deep);
}

.shadow-rough {
    box-shadow:
        0 0 0 4px var(--color-shadow-rough);
}

.shadow-rough-hover {
    box-shadow:
        0 0 0 8px var(--color-shadow-rough);
}